@page
@model razor_pizzeria.Pages.PizzaModel
@{
}

<div class="text-center">

	<div class="p-4">

		<h1 class="text-danger text-capitalize">
			Choose from literally anything!
		</h1>

		<p class="subtitle">
			Find something that suits taste of yours and do not forget that your pals won't tolerate <span class="text-warning">pineapples</span> in pizza!
		</p>

		<div class="alert alert-light" role="alert">
			<p class="subtitle">
				Also try out our custom pizza - so we can satisfy your picky taste! <span class="text-danger"><a class="link-hidden" asp-area="" asp-page="/Forms/CustomPizza">Create</a></span>
			</p>
		</div>

	</div>

	<div class="container">

		<div class="row">

			<!-- Custom pizza -->
			<div class="col-12 mb-3">
				<div class="row pizza-container">
					<div class="col-4 p-1">
						<a class="link-hidden" asp-area="" asp-page="/Forms/CustomPizza">
							<img src="~/images/Pizzas/Create.png" class="w-100" />
						</a>
					</div>
					<div class="col-8 p-4">
						<div class="h-100 d-flex align-items-center">
							<div class="pizza-container-text">
								<a class="link-hidden" asp-area="" asp-page="/Forms/CustomPizza">
									<h4 class="text-danger mb-0">Custom pizza</h4>
									<p>Make your own pizza with any ingredient you want (like we're not aware you just wanna triple cheese)! Pick anything, any amount, even everything, still delicious, exclusively for you, not now only, but still.</p>
								</a>
								<p>
									Available ingredietns:
									<br />
									<span class="badge bg-danger">pepperoni</span>
									<span class="badge bg-danger">bacon</span>
									<span class="badge bg-danger">ham</span>
									<span class="badge bg-danger">beef</span>
									<br />
									<span class="badge bg-warning">mozzarellea</span>
									<span class="badge bg-warning">cheddar</span>
									<br />
									<span class="badge bg-success">jalapeno</span>
									<span class="badge bg-success">spices</span>
									<span class="badge bg-info">mushroom</span>
									<span class="badge bg-warning">pineapple</span>
									<br />
								<p><span class="text-success">Vegie</span> ingredient replacements are available for all products!</p>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			@foreach (var pizza in Model.fakePizzasDB)
			{
				var imagePath = "~/images/Pizzas/" + (pizza.ImageTitle + ".png");
				<div class="pizza-box-desktop col-3 mb-3">
					<div class="row pizza-container p-1 pb-2">
						<a class="link-hidden" asp-area="" asp-page="/Checkout/Checkout" asp-route-ImageTitle="@pizza.ImageTitle" asp-route-Price="@pizza.FinalPrice" asp-route-PizzaName="@pizza.PizzaName">
							<img src="@imagePath" class="w-100 rounded" asp-append-version="true" />
							<h4 class="text-danger mb-0">@pizza.PizzaName</h4>
							<p>
								@if (pizza.TomatoSauce)
								{
									<span class="badge bg-danger">tomato sauce</span>
								}
								@if (pizza.Mozzarella)
								{
									<span class="badge bg-warning">mozzarella</span>
								}
								@if (pizza.Cheddar)
								{
									<span class="badge bg-warning">cheddar</span>
								}
								@if (pizza.Pepperoni)
								{
									<span class="badge bg-danger">pepperoni</span>
								}
								@if (pizza.Bacon)
								{
									<span class="badge bg-danger">bacon</span>
								}
								@if (pizza.Ham)
								{
									<span class="badge bg-danger">ham</span>
								}
								@if (pizza.Beef)
								{
									<span class="badge bg-danger">beef</span>
								}
								@if (pizza.Mushroom)
								{
									<span class="badge bg-info">mushroom</span>
								}
								@if (pizza.Pineapple)
								{
									<span class="badge bg-warning">pineapple</span>
								}
								@if (pizza.Jalapeno)
								{
									<span class="badge bg-success">jalapeno</span>
								}
								@if (pizza.Spices)
								{
									<span class="badge bg-success">spices</span>
								}
							</p>
							<span class="btn btn-danger">Add to cart</span>
						</a>
					</div>
				</div>

				<div class="pizza-box-mobile col-12 mb-3">
					<div class="row pizza-container">
						<div class="col-4 p-1">
							<a class="link-hidden" asp-area="" asp-page="/Checkout/Checkout">
								<img src="@imagePath" class="w-100 rounded" asp-append-version="true" />
							</a>
						</div>
						<div class="col-8 p-4">
							<div class="h-100 d-flex align-items-center">
								<div class="pizza-container-text">
									<a class="link-hidden" asp-area="" asp-page="/Checkout/Checkout" asp-route-ImageTitle="@pizza.ImageTitle" asp-route-Price="@pizza.FinalPrice" asp-route-PizzaName="@pizza.PizzaName">
										<h4 class="text-danger mb-0">@pizza.PizzaName</h4>
										<p>
											<span class="badge bg-danger">tomatoes</span>
											<span class="badge bg-danger">tomato sauce</span>
											<span class="badge bg-warning">mozzarella</span>
										</p>
										<span class="btn btn-danger rounded">Add to cart</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			}

			<!-- Margherita pizza
			<div class="pizza-box-desktop col-3 mb-3">
				<div class="row pizza-container p-1 pb-2">
					<a class="link-hidden" asp-area="" asp-page="/Checkout/Checkout">
						<img src="~/images/Pizzas/Create.png" class="w-100" asp-append-version="true" />
						<h4 class="text-danger mb-0">Margherita</h4>
						<p>Classic is for true connoisseurs.</p>
						<p>
							<span class="badge bg-danger">tomatoes</span>
							<span class="badge bg-danger">tomato sauce</span>
							<span class="badge bg-warning">mozzarella</span>
						</p>
						<span class="btn btn-danger">Add to cart</span>
					</a>
				</div>
			</div>

			<div class="pizza-box-mobile col-12 mb-3">
				<div class="row pizza-container">
					<div class="col-4 p-1">
						<a class="link-hidden" asp-area="" asp-page="/Checkout/Checkout">
							<img src="~/images/Pizzas/Create.png" class="w-100" />
						</a>
					</div>
					<div class="col-8 p-4">
						<div class="h-100 d-flex align-items-center">
							<div class="pizza-container-text">
								<a class="link-hidden" asp-area="" asp-page="/Checkout/Checkout">
									<h4 class="text-danger mb-0">Margherita</h4>
									<p>Classic is for true connoisseurs.</p>
									<p>
										<span class="badge bg-danger">tomatoes</span>
										<span class="badge bg-danger">tomato sauce</span>
										<span class="badge bg-warning">mozzarella</span>
									</p>
									<span class="btn btn-danger rounded">Add to cart</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			Margherita pizza -->

		</div>

	</div>
</div>